attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.0
bs4==0.0.1
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9
cssselect==1.1.0
EbookLib==0.17.1
epub==0.5.2
gitdb==4.0.4
google-api-core==1.17.0
google-auth==1.14.1
googleapis-common-protos==1.51.0
httplib2==0.19.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Jinja2==2.11.2
lxml==4.5.0
MarkupSafe==1.1.1
oauth2client==4.1.3
opencc-python-reimplemented==0.1.5
parsel==1.5.2
Protego==0.1.16
protobuf==3.11.3
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pymongo==3.10.1
pyOpenSSL==19.1.0
pypub==1.5
pytz==2019.3
PyYAML==5.3.1
queuelib==1.5.0
redis==3.4.1
requests==2.23.0
rsa==4.0
Scrapy==2.0.1
scrapy-redis==0.6.8
service-identity==18.1.0
six==1.14.0
smmap==3.0.2
soupsieve==2.0
Twisted==20.3.0
uritemplate==3.0.1
urllib3==1.25.9
w3lib==1.21.0
zope.interface==5.0.2
